.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}

.hero__subtitle{
    color: var(--clr-slate-800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title{
    color: var(--clr-slate-400);
    font-size: var(--size-4xl);
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: -0.05em;
}

.hero__description{
    max-width: 40ch;
    font-size: var(--size-small);
    color: var(--clr-slate-600);
}

.hero__btn{
    font-size: var(--size-small);
}

/*xs*/
@media (min-width: 475px){
    .hero{ 
        gap: 1.5rem;
    }
    
    .hero__img{
        height: 6.5rem;
        width: 6.5rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-lg);
    }
    
    .hero__title{
        font-size: var(--size-5xl);
    }
    
    .hero__description{
        font-size: var(--size-base);

    }
    
    .hero__btn{
        font-size: var(--size-base);
    }
}
/*sm*/
@media (min-width: 640px){
    
}
/*md*/
@media (min-width: 768px){
    
}
/*lg*/
@media (min-width: 1024px){

    .hero__img{
        height: 10rem;
        width: 10rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-4xl);
    }
    
    .hero__title{
        font-size: var(--size-9xl);
    }
    
    .hero__description{
        font-size: var(--size-xl);

    }
    
    .hero__btn{
        font-size: var(--size-xl);
    }
    
}
/*xl*/
@media (min-width: 1280px){
    
}
/*2xl*/
@media (min-width: 1536px){
    
}
